.Container{
    display: flex;
    background-color: #d6e5ff;
    width: calc(100% - 100px);
    margin-left: 50px;
    height: 125px;
    border-radius: 25px;
}
.section{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.section img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}
.section span{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.vl{
    border-left: 2px solid black;
    height: 100px;
    margin-top: 12px;
}